[Unit]
Description=EFISHERY Auth App
StartLimitIntervalSec=0[Service]
Type=simple
User=swamedia
After=network.target
 
[Service]
Restart=always
RestartSec=3
WorkingDirectory=/apps/self-growth/auth-app/
ExecStart=/apps/self-growth/miniconda3/envs/auth_app_env/bin/python run.py auth-app
 
[Install]
WantedBy=multi-user.target
