[Unit]
Description=EFISHERY Auth App
StartLimitIntervalSec=0[Service]
Type=simple
User=swamedia
After=network.target
 
[Service]
Restart=always
RestartSec=3
WorkingDirectory=/apps/efishery/auth-app/
ExecStart=/apps/efishery/miniconda3/envs/efishery_auth_app_env/bin/python run.py auth-app
 
[Install]
WantedBy=multi-user.target
